@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary-color: #3A405A;
    --secondary-color: #99B2DD;
    --accent1-color: #E9AFA3;
    --accent2-color: #685044;

    --heading-font: "Comic Neue", cursive;
    --paragraph-font: "Comic Neue", cursive;

    --nav-background-color: #F9DEC9;
    --nav-link-color: #3A405A;
    --nav-hover-link-color: #3A405A;
    --nav-hover-background-color: #E9AFA3;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px 60px 20px 60px;
}

header {
    padding: 20px 60px 20px 60px;
    background-color: var( --primary-color);
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

main {
    background-color: var(--secondary-color);
    color: black;
    padding: 20px 25px 20px 25px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 60px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

footer a {
    color: white;
}


.sociallinks {
    display: flex;
    gap: 10px;
}

.sociallinks a {
    margin-left: 10px;
}

.sociallinks img {
    width: 40px;
}

.navigation {
    display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color:  white;
	padding: 1rem;
	text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    color: white;
    top: 80px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
}

.history {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

.history img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.products {
	display: flex;
}

.products img {
    width:20%;
    float:left; /* display: inline-block; */
    min-width:100px; /* equal to the width of the image */
    text-align:center;
}

.team {
	display: flex;
}

.team img {
    width:33%;
    float:left; /* display: inline-block; */
    min-width:220px; /* equal to the width of the image */
    text-align:center;
    height: 180px;
}

article {
    position: absolute;
    top: 240px;
    background-color:rgba(0, 0, 0, 0.4);
    padding: 1rem;
    width: 46rem;
    margin: 4rem;
}

article img { 
    max-width: 100px;
    height: auto;
    float: right;
}

article p {
    color: var(--nav-background-color);
}

.logo {
    max-width: 100px;
    margin: 0 0.25rem 0 1rem;
    height: auto;
}

nav a img {
    width: 80px;
    height: auto;
}

section img {
    padding-bottom: 20px;
}

.map {
    height: 100%;
    width: 100%;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    margin-top: 48px;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

input, select, textarea, radio {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.inlinequiz {
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}